@font-face {
    font-family: "debrosee";
      src: url("/style/fonts/Freedom-10eM.ttf") format("truetype");
  }
     @font-face {
    font-family: "bigdick";
      src: url("/style/fonts/SimpleGrunge-p7aDD.otf") format("opentype");
  }
      
      h1{
        font-family: "debrosee";
        background: linear-gradient(
              to right, #f32170, #ff6b08,
               #cf23cf, #eedd44);
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
      }
      h2{
        font-family: "debrosee";
        background: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
          font-size: 30px;
          
      }
      body{
          background-color:rgb(39, 39, 39);
        }
      p1 {
          font-family: "bigdick", monospace;
          color: #fff;
        
      }
      p2 {
          font-family: "bigdick", monospace;
          color: #fff;
    
      }
      p3 {
          font-family: "bigdick", monospace;
          color: #fff;
          
      }
      p4 {
          font-family: "bigdick", monospace;
          color: #fff;
          
      }
      .button-pog {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-pog:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-pog {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-pog:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
      
      #yourmom {
         color: #00ff95;
      }
      #suggest {
         color: #00ff95;
      }
      #baja {
         position:relative; top: -900;
      }
      #code {
         /*position:relative; left:150px; top:-405px; width:400px; height:400px;*/
      }
