@font-face {
    font-family: "debrosee";
      src: url("/style/fonts/Freedom-10eM.ttf") format("truetype");
  }
     @font-face {
    font-family: "codebrr";
      src: url("/style/fonts/Monocode.ttf") format("truetype");
  }
      
      h1{
        font-family: "debrosee";
        background: linear-gradient(
              to right, #f32170, #ff6b08,
               #cf23cf, #eedd44);
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
        
      }
      body{
          background-color:rgb(39, 39, 39);
        }
      p1 {
          font-family: "codebrr", monospace;
          color: #fff;
        
      }
      p2 {
          font-family: "codebrr", monospace;
          color: #fff;
    
      }
      p3 {
          font-family: "codebrr", monospace;
          color: #fff;
          
      }
      p4 {
          font-family: "codebrr", monospace;
          color: #fff;
          
      }
      #yourmom {
         color: #00ff95;
      }
      #suggest {
         color: #00ff95;
      }
      #baja {
         position:relative; left:-150px; top:-405px; width:400px; height:400px;
      }
      #code {
         position:relative; left:150px; top:-405px; width:400px; height:400px;
      }